<div class="sidebar">
  <div class="sidebar-child">
    <div class="sidebar-header"> Recent Posts </div>
    <ul class="recent_post_ul">
    <% @recent_post.each do |article| %>
      <li> <%= link_to truncate(article.title, length: 50), article_path(article) %></li>
    <% end %>
    </ul>
  </div>
  <div class="sidebar-child-2">
    <div class="sidebar-header">Get New Article</div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="email address">
      </div>
      <button class="btn btn-xs btn btn-primary">Subscribe me</button>
    </div>
</div>