<div class="sidebar">
  <div class="sidebar-child">
    <h1 class="active">SideBar 1</h1>
    <p>Id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Id elit non mi porta gravida at eget metus.</p>
  </div>
  <div class="sidebar-child">
    <h1 class="active">SideBar 1</h1>
    <p>Id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Id elit non mi porta gravida at eget metus.</p>
  </div>
</div>