<div class="container">
  <h2><%= @article.title %></h2>
  <div class="panel panel-default">
    <div class="panel-body"><%= simple_format(@article.description) %></div>
  </div>
  <%= link_to  "All Post", articles_path, class: "btn btn-xs btn-primary" %>
  <%= link_to  "Edit post", edit_article_path(@article), class: "btn btn-xs btn btn-success" %>
</div>

