/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar-nav{list-style: none;}
 .navbar-nav > li > a {
  padding-left: 23px;
}
.listing{list-style: none;text-align: center;padding: 15px;}
.footer-nav .navbar-nav{ display: inline-block;float: none;}
.navbar-nav{text-align: center;}
.custom-navbar{
  border-radius: 0px !important;
}
.custom-band{
  font-weight: 500 !important;
  color: #ffffff !important;
}
.copyright{text-align: left;}
.footer-area{
  margin: 20px 0px 20px 0px;
  border-top: 1px solid #f1f1f1;
  padding: 20px;
}
.footer-nav-area{
  text-align: right
}
.footer-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-nav-item{
  display: inline;
  padding-left: 8px;
}

.sidebar{
  border:1px solid #f1f1f1;
  padding:10px;
  }
  .sidebar-child{
  margin-bottom:15px;
  border-bottom:1px solid #f1f1f1;
  }


 @import "bootstrap-sprockets";
 @import "bootstrap";
