
	<div class="container">
    	<div class="row">
        <div class="footer-area">
            <div class="col-md-6">
              <div class="copyright">
                <small>Copy &copy; <a href="#">Rails Blog</a> by <a href="https://github.com/themeexpress/RailsBlog">Kamrul Islam</a></small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-nav-area">
                  <ul class="footer-nav">
                      <li class="footer-nav-item">
                        <%= link_to  "Home", root_path %>
                      </li>
                      <li class="footer-nav-item">
                        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="footer-nav-item">
                        <%= link_to  "Sign Up", signup_path %>
                      </li>
                      <li class="footer-nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
