<nav class="navbar navbar-inverse custom-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to  "RAILS BLOG", root_path,class: 'navbar-brand custom-band' %>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category1<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to  '<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, logout_path,  method: :delete %> </li>
      <% else %>
        <li><%= link_to  '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, signup_path %></li>
        <li><%= link_to  '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, login_path %> </li>
      <% end %>
    </ul>
  </div>
</nav>